@font-face {
    font-family: 'Cormorant Garamond';
    src: url(/fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf);
}

@font-face {
    font-family: 'Outfit';
    src: url(/fonts/Outfit/Outfit-Regular.ttf);
}
*{
    margin: 0 auto;
    box-sizing: border-box;
}
/*.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
}*/

.title,
.subtitle {
    font-family: 'Cormorant Garamond', serif;
}

a {
    text-decoration: none;
}


.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.section {
    max-width: 100%;
    display: flex;
    justify-content:center;
    
}
.history {
    max-width: 1440px;
    background-image: url(../assets/history/back.png);
}
.history__wrapper {
    max-width: 1330px;
    background-color: rgba(31, 39, 50, 0.85);
    display: flex;
    justify-content: space-between;
    margin: 140px 40px;
}
.history__col-2 {
    margin: 80px 30px 70px 30px;
}
.history__title {
    margin: 90px 60px 11px 50px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.history__title-2 {
    margin: 90px 94px 11px 105px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #FFFFFF;
}
