@font-face {
    font-family: 'Cormorant Garamond';
    src: url(/fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf);
}

@font-face {
    font-family: 'Outfit';
    src: url(/fonts/Outfit/Outfit-Regular.ttf);
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
}

.title,
.subtitle {
    font-family: 'Cormorant Garamond', serif;
}

a {
    text-decoration: none;
}


._container {
    max-width: 1360px;
    margin: 0 auto;
}